.pagination {
    display: flex;
    justify-content:space-around;
    background: rgba(255, 255, 255, 0.316);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border-style: outset;
    border-color: white;
    border-width: 3px;
}
ul{
    list-style-type: none;
}
.page-item{
    justify-content: space-between;
    border-color: azure;
}
button{
    background-color: rgba(119, 119, 119, 0);
    color: white;
    border: none;
    border-radius: 3px;
}
button:hover{
    background: yellow;
    color: rgb(0, 0, 0);
}
button:active{
    background: yellow;
    color: rgb(0, 0, 0);
}
